@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.input-field[placeholder]:empty:before { 
    content: attr(placeholder); 
    color: #555; 
}

.app-layout{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.side-nav{
    min-width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    background: #fff;
    transition: 0.5s;
}

.app-content{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid #DADCE0;
}

.nav-bar{
    width: 100%;
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid #DADCE0;
}

.btn-icon{
    min-width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A73E8;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-size: 20px;
    font-weight: bolder;
}

.input-place{
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-top: 1px solid #DADCE0;
    border-left: 1px solid #DADCE0;
}

.input-field{
    width: 100%;
    padding: 15px 0;
    outline: none;
    word-break: break-all;
    max-height: 150px;
    overflow-y: auto;
}

.chat-content{
    padding: 65px 0 55px 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 1;
    box-sizing: border-box;
    background: #F9F9F9;
}

.my-msg-box, .msg-box{
    display: flex;
}

.msg-filler{
    width: 100%;
}

.msg-box .msg-cnt, .my-msg-box .msg-cnt{
    background: #fff;
    color: #000;
    padding: 10px 15px 10px 15px;
    margin: 0 10px 10px 10px;
    max-width: 200px;
    overflow-wrap: break-word;
    border-radius: 3px;
    border: 1px solid #DADCE0;
}

.my-msg-box .msg-cnt{
    background: #1A73E8;
    color: #fff;
    border: none;
}

.info-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    color: #757575;
}

.line{
    width: 100%;
    height: 1px;
    background: #757575;
}

.line-text{
    word-break: none;
    word-wrap: nowrap;
    white-space: nowrap;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bolder;
}

.input-place, .nav-bar{
    background: #fff;
}

.name-layout, .my-name-layout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-img{
    min-width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 10px;
    border: 1px solid #DADCE0;
}

.name-filler{
    width: 100%;
}

.name-text{
    color: #757575;
    font-weight: bolder;
    font-size: 12px;
    word-wrap: nowrap;
    white-space: nowrap;
}

.side-name{
    font-size: 12px;
    color: #757575;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}

.side-img{
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #DADCE0;
}

.media-box, .my-media-box{
    width: 100%;
    display: flex;
}

.media-box img, .my-media-box img{
    width: 150px;
    margin: 10px;
    border-radius: 3px;
}

.media-filler{
    width: 100%;
}

.loader-layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 2px solid #1A73E8;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.copy-layout{
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    font-style: normal;
    color: #000;
}